/*
Code by Cheng Chua for GEOM90007 Assignment 2
Tutorial by Mapbox (https://docs.mapbox.com/help/tutorials/show-changes-over-time/)
  and Lab Exercises by GEOM90007 Tutors */

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* styling for the legend */
.legend {
  position: absolute;
  width: 250px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  background-color: white;
  font: 12px Arial, sans-serif;
}

.legend h4 {
  margin: 0 0 10px;
}

/* styling for the circles */

.legend-circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* sets the specifics for the status text */

.crash-severity span {
  margin-left: 5px;
  display: inline-block;
  font: 12px Arial, sans-serif;
}

/* sets the specifics for the building height text */

.crash-casualty span {
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  font: 12px Arial, sans-serif;
}

/* text decoration for links */

a {
  text-decoration: none;
  color: #2dc4b2;
}

/* slight padding for the radio button menu */
.menu {
	padding-bottom: 10px;
}
